@model Dimension_Data_Demo.Models.EmployeeDetails

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>EmployeeDetails</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Age)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Age)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Attrition)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Attrition)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DistanceFromHome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DistanceFromHome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Over18)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Over18)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gender)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gender.GenderId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Marital)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Marital.MaritalId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.DetailsId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
