@model IEnumerable<Dimension_Data_Demo.Models.EmployeeDetails>


@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Attrition)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DistanceFromHome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Over18)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Marital)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Attrition)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DistanceFromHome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Over18)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender.Gender1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Marital.MaritalStatus1)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.DetailsId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.DetailsId">Details</a> |
            </td>
        </tr>
}
    </tbody>
</table>
